.box-text {
  padding: 16px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
}

ul {
  list-style-type: none;
  font-size: larger;
  padding-top: 32px;
}

.title {
  text-align: center;
  display: block;
  margin-top: 32px;
  font-size: x-large;
}
