html {
  font-family: "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background-color: #005571;
}

.header-text {
  margin-top: 12px;
  margin-left: 12px;
  display: block;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(150, 150, 150, 0.78);
}

.login-box-header {
  width: 100%;
  height: 32px;
  background-color: #005571;
  text-align: center;
  margin-bottom: 16px;
  padding-top: 8px;
}

.login-box-header-text {
  color: #fff;
  display: block;
  margin-top: 4px;
  font-weight: 700;
  font-size: 16px;
  text-shadow: 1px 1px 0 rgba(150, 150, 150, 0.78);
}

.page-footer {
  background-color: #005571;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 32px;
  text-align: center;
}

.page-footer-text {
  color: #fff;
  margin-bottom: 0;
  margin-top: 8px;
  font-weight: 100;
  display: block;
  text-shadow: 1px 1px 0 rgba(150, 150, 150, 0.78);
}

