.center-box {
  position: absolute;
  width: 324px;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  -webkit-box-shadow: -1px 3px 39px -3px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: -1px 3px 39px -3px rgba(0, 0, 0, 0.54);
  box-shadow: -1px 3px 39px -3px rgba(0, 0, 0, 0.54);
}

.input-label {
  font-size: 12px;
  margin-left: 4px;
}

.center-label {
  text-align: center;
  font-size: 12px;
  display: block;
}

.input {
  display: block;
  width: 95%;
  margin: auto auto 12px;
  font-size: 18px;
  border: 1px solid #999;
  height: 32px;
  text-indent: 8px;
}

.input:focus {
  border: 1px solid #E91E63;
}

*:focus {
  outline: none;
}

.button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 40px;
  text-decoration: none;
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-transition: all 250ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 250ms cubic-bezier(0.34, 1.61, 0.7, 1);
  white-space: nowrap;
  max-width: 100%;
  vertical-align: middle;
  -webkit-box-shadow: 0 2px 2px -1px rgba(153, 153, 153, 0.3);
  border-radius: 4px;
  min-width: 112px;
  color: #0079a5;
  border: 1px solid #0079a5;
  box-shadow: 0 2px 2px -1px rgba(50, 98, 116, 0.3);
  background-color: #ffffff;
  width: 100%;
}

.button:active {
  background-color: #76ff03;
}

.button-caption {
  padding: 8px;
}
