doctype html
html(lang="EN")
  head
    title Authorization Required
    style
      include style/style.css
      include style/login.css
    script.
      var kbnVersion = "#{kbnVersion}";
  body
    div.page-header
      h2.header-text Kibana #{kbnVersion}

    div.center-box
      div#header.login-box-header
        span#header-text.login-box-header-text AUTHENTICATION

      div#form-twofactor
        div#svg-secret
        span.center-label#text-secret [replace this]
        label.input-label Key
        input(type="test", onkeypress="keydown(event);" autofocus)#token.input

      div#form-login
        label.input-label Username
        input(type="text", onkeypress='keydown(event);' autofocus)#username.input
        label.input-label Password
        input(type="password", onkeypress='keydown(event);')#password.input

      div
        button(onclick='submit();').euiButton.euiButton--primary.euiButton--small.button#submit LOGIN

    div.page-footer
        h5.page-footer-text &copy;2017 Robin Duda
    script
      include script/jquery-2.2.3.min.js
      include script/login.js
